[Unit]
Description=Admonitor Checker
After=mysql.service

[Service]
ExecStart=/srv/admonitor/bin/checker.pl
Restart=on-abort
User=admonitor
Group=admonitor

[Install]
WantedBy=multi-user.target
